.gojek, .servicegojek{
    color:#48af4a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 50px;
}
.servicegojek{
    text-align: center;
    margin-top: 60px;
}

.col-md-3{
    margin-top: 30px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.ourservice{
    margin-top: 30px;
    align-items: center;
    align-content: center;
}
.footer{
    background-color: #48af4a;
    height: 300px;
    margin-top: 30px;
}
.contact{
    color: aliceblue;
   padding-top: 30;
}
.col-md-4{
    margin-top: 30px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}